{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": ["babel-plugin-styled-components"]
    },
    "production": {
      "presets": [
        "next/babel",
        [
          "@babel/env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
